In [64]:
import os
import pandas as pd
pd.set_option("max_columns",100)
pd.set_option("max_rows",100)

In [4]:
os.chdir('..')

In [17]:
raw_data_path = "datasets/innmate_on_deathrow.csv"

In [18]:
df = pd.read_csv(raw_data_path).drop('Unnamed: 0',axis=1)

In [19]:
df.columns

Index(['Name', 'TDCJ #', 'DOB', 'Received Date', 'Received Age',
       'Education Level', 'Offense Date', 'Age', 'County', 'Race', 'Gender',
       'Hair', 'Height', 'Weight', 'Eyes', 'Native County', 'Native State',
       'Occupation', 'Record', 'Incident', 'Co_defendants',
       'Victim_race_gender'],
      dtype='object')

In [20]:
df.dtypes

Name                  object
TDCJ #                 int64
DOB                   object
Received Date         object
Received Age           int64
Education Level       object
Offense Date          object
Age                    int64
County                object
Race                  object
Gender                object
Hair                  object
Height                object
Weight                object
Eyes                  object
Native County         object
Native State          object
Occupation            object
Record                object
Incident              object
Co_defendants         object
Victim_race_gender    object
dtype: object

In [21]:
df.head()

,Name,TDCJ #,DOB,Received Date,Received Age,Education Level,Offense Date,Age,County,Race,Gender,Hair,Height,Weight,Eyes,Native County,Native State,Occupation,Record,Incident,Co_defendants,Victim_race_gender
0,"Rockwell, Kwame A.",999570,12/07/1975,01/30/2012,36,12,03/23/2010,34,Tarrant,Black,Male,Black,6′ 1″,233,Brown,Tarrant,Texas,Prior Occupation\nSales,Prior Prison Record\nNone,Summary of Incident\nIn the early morning hour...,"Co-Defendants\nRandy Ciebel, Tyron Thomas, Cha...","Race and Gender of Victim\nOne hispanic male, ..."
1,"Burton, Arthur Lee",999283,3/29/70,9/16/98,28,12 years,7/29/97,27,Harris,Black,Male,Black,5′ 10″,176,Brown,Bastrop,Louisiana,Prior Occupation\nUnknown,Prior Prison Record\nNone,"Summary of Incident\nOn July 29, 1997, in Hous...",Co-Defendants\nNone,Race and Gender of Victim\nWhite female
2,"Gallo, Tomas Raul",999469,03/01/1975,02/24/2004,28,11,12/11/2003,28,Harris,White,Male,Brown,5′ 10″,202,Black,Monterey,California,"Prior Occupation\nhydro-water blaster, laborer",Prior Prison Record\nNone,"Summary of Incident\nOn 12/11/2001, in Harris ...",Co-Defendants\nNone,Race and Gender of Victim\nHispanic/Female
3,"Milam, Blaine Keith",999558,12/12/1989,06/11/2010,20,4th Grade,12/02/2008,18,Rusk,White,Male,Blonde,6′ 0″,250,Green,Gregg County,Texas,Prior Occupation\nNone,Prior Prison Record\nNone,"Summary of Incident\nIn December 2008, Milam a...",Co-Defendants\nJessica Bain Carson,Race and Gender of Victim\nWhite female
4,"Vasquez, Richard",999319,04/17/1979,06/24/1999,20,9,03/05/1998,18,Nueces,Hispanic,Male,Black,5′ 9″,180,Brown,Nueces,Texas,Prior Occupation\nLaborer,Prior Prison Record\nNone,"Summary of Incident\nOn 03/05/98, during the d...",Co-Defendants\nNone,Race and Gender of Victim\nHispanic female

In [29]:
df['f_name'] = df['Name'].apply(lambda x: x.split(',')[-1])
df['l_name'] = df['Name'].apply(lambda x: x.split(',')[0])

In [33]:
print(df.l_name[:3],df.f_name[:3],sep='\n')

0    Rockwell
1      Burton
2       Gallo
Name: l_name, dtype: object
0       Kwame A.
1     Arthur Lee
2     Tomas Raul
Name: f_name, dtype: object

In [36]:
df['Education Level'].unique()

array(['12', '12 years', '11', '4th Grade', '9', nan, '09', '10 years',
       '8', '10', '9th Grade', '07', '7', '7th Grade', '11 years', '06',
       '10th Grade', '12th Grade', '4 years', '8th Grade', 'GED',
       '11th Grade', '08', 'Unknown', '10th grade', '12th grade', '7th',
       '6', '11th grade', '4', '11th Grade/GED', '7th grade',
       '10th Grade/GED'], dtype=object)

In [45]:
df['Education Level'] = df['Education Level'].map(str)
df['Education Level'] = df['Education Level'].map(lambda x:x.split(' ')[0])
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('Unknown','nan'))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('th',''))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('th',''))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('07','7'))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('08','8'))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('09','9'))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('GED','11')) #assumption
df['Education Level'] = df['Education Level'].map(float)

In [46]:
df['Education Level'].dtypes

dtype('float64')

In [51]:
df['Received Date'] = df['Received Date'].apply(lambda x: x.replace('20174','2017')) #fix mistake in data entry

In [53]:
df['Received Date'] = pd.to_datetime(df['Received Date'])

In [55]:
df['received_year'] = pd.DatetimeIndex(df['Received Date']).year
df['received_month'] = pd.DatetimeIndex(df['Received Date']).month
df['received_day'] = pd.DatetimeIndex(df['Received Date']).day