In [1]:
import os
import numpy as np
import pandas as pd
pd.set_option("max_columns",100)
pd.set_option("max_rows",100)

In [2]:
os.chdir('..')

In [3]:
raw_data_path = "datasets/innmate_on_deathrow.csv"

In [4]:
df = pd.read_csv(raw_data_path).drop('Unnamed: 0',axis=1)

In [5]:
df.columns

Index(['Name', 'TDCJ #', 'DOB', 'Received Date', 'Received Age',
       'Education Level', 'Offense Date', 'Age', 'County', 'Race', 'Gender',
       'Hair', 'Height', 'Weight', 'Eyes', 'Native County', 'Native State',
       'Occupation', 'Record', 'Incident', 'Co_defendants',
       'Victim_race_gender'],
      dtype='object')

In [6]:
df.dtypes

Name                  object
TDCJ #                 int64
DOB                   object
Received Date         object
Received Age           int64
Education Level       object
Offense Date          object
Age                    int64
County                object
Race                  object
Gender                object
Hair                  object
Height                object
Weight                object
Eyes                  object
Native County         object
Native State          object
Occupation            object
Record                object
Incident              object
Co_defendants         object
Victim_race_gender    object
dtype: object

In [7]:
df.head()

,Name,TDCJ #,DOB,Received Date,Received Age,Education Level,Offense Date,Age,County,Race,Gender,Hair,Height,Weight,Eyes,Native County,Native State,Occupation,Record,Incident,Co_defendants,Victim_race_gender
0,"Rockwell, Kwame A.",999570,12/07/1975,01/30/2012,36,12,03/23/2010,34,Tarrant,Black,Male,Black,6′ 1″,233,Brown,Tarrant,Texas,Prior Occupation\nSales,Prior Prison Record\nNone,Summary of Incident\nIn the early morning hour...,"Co-Defendants\nRandy Ciebel, Tyron Thomas, Cha...","Race and Gender of Victim\nOne hispanic male, ..."
1,"Burton, Arthur Lee",999283,3/29/70,9/16/98,28,12 years,7/29/97,27,Harris,Black,Male,Black,5′ 10″,176,Brown,Bastrop,Louisiana,Prior Occupation\nUnknown,Prior Prison Record\nNone,"Summary of Incident\nOn July 29, 1997, in Hous...",Co-Defendants\nNone,Race and Gender of Victim\nWhite female
2,"Gallo, Tomas Raul",999469,03/01/1975,02/24/2004,28,11,12/11/2003,28,Harris,White,Male,Brown,5′ 10″,202,Black,Monterey,California,"Prior Occupation\nhydro-water blaster, laborer",Prior Prison Record\nNone,"Summary of Incident\nOn 12/11/2001, in Harris ...",Co-Defendants\nNone,Race and Gender of Victim\nHispanic/Female
3,"Milam, Blaine Keith",999558,12/12/1989,06/11/2010,20,4th Grade,12/02/2008,18,Rusk,White,Male,Blonde,6′ 0″,250,Green,Gregg County,Texas,Prior Occupation\nNone,Prior Prison Record\nNone,"Summary of Incident\nIn December 2008, Milam a...",Co-Defendants\nJessica Bain Carson,Race and Gender of Victim\nWhite female
4,"Vasquez, Richard",999319,04/17/1979,06/24/1999,20,9,03/05/1998,18,Nueces,Hispanic,Male,Black,5′ 9″,180,Brown,Nueces,Texas,Prior Occupation\nLaborer,Prior Prison Record\nNone,"Summary of Incident\nOn 03/05/98, during the d...",Co-Defendants\nNone,Race and Gender of Victim\nHispanic female

In [8]:
df['f_name'] = df['Name'].apply(lambda x: x.split(',')[-1])
df['l_name'] = df['Name'].apply(lambda x: x.split(',')[0])

In [9]:
print(df.l_name[:3],df.f_name[:3],sep='\n')

0    Rockwell
1      Burton
2       Gallo
Name: l_name, dtype: object
0       Kwame A.
1     Arthur Lee
2     Tomas Raul
Name: f_name, dtype: object

In [10]:
df['Education Level'].unique()

array(['12', '12 years', '11', '4th Grade', '9', nan, '09', '10 years',
       '8', '10', '9th Grade', '07', '7', '7th Grade', '11 years', '06',
       '10th Grade', '12th Grade', '4 years', '8th Grade', 'GED',
       '11th Grade', '08', 'Unknown', '10th grade', '12th grade', '7th',
       '6', '11th grade', '4', '11th Grade/GED', '7th grade',
       '10th Grade/GED'], dtype=object)

In [11]:
df['Education Level'] = df['Education Level'].map(str)
df['Education Level'] = df['Education Level'].map(lambda x:x.split(' ')[0])
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('Unknown','nan'))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('th',''))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('th',''))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('07','7'))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('08','8'))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('09','9'))
df['Education Level'] = df['Education Level'].apply(lambda x: x.replace('GED','11')) #assumption
df['Education Level'] = df['Education Level'].map(float)

In [12]:
df['Education Level'].dtypes

dtype('float64')

In [13]:
df['Received Date'] = df['Received Date'].apply(lambda x: x.replace('20174','2017')) #fix mistake in data entry

In [14]:
df['Received Date'] = pd.to_datetime(df['Received Date'])

In [15]:
df['received_year'] = pd.DatetimeIndex(df['Received Date']).year
df['received_month'] = pd.DatetimeIndex(df['Received Date']).month
df['received_day'] = pd.DatetimeIndex(df['Received Date']).day

In [16]:
df['Received Age'].dtypes

dtype('int64')

In [17]:
df['DOB'] = pd.to_datetime(df['DOB']) #change date of birth column to a datetime
df['dob_year']= pd.DatetimeIndex(df['DOB']).year
df['dob_month'] = pd.DatetimeIndex(df['DOB']).month
df['dob_day'] = pd.DatetimeIndex(df['DOB']).day

In [18]:
df['Offense Date'] = df['Offense Date'].apply(lambda x: x.split(' and')[0])
df['Offense Date'] = df['Offense Date'].apply(lambda x: x.split(' through')[0])
df['Offense Date'] = pd.to_datetime(df['Offense Date'])
df['off_date_year']= pd.DatetimeIndex(df['Offense Date']).year
df['off_date_month'] = pd.DatetimeIndex(df['Offense Date']).month
df['off_date_day'] = pd.DatetimeIndex(df['Offense Date']).day

In [19]:
df['Occupation'].unique()[:5]

array(['Prior Occupation\nSales', 'Prior Occupation\nUnknown',
       'Prior Occupation\nhydro-water blaster, laborer',
       'Prior Occupation\nNone', 'Prior Occupation\nLaborer'],
      dtype=object)

In [20]:
df['Occupation'] = df['Occupation'].apply(lambda x: x.split('\n')[1:])

In [21]:
df['Record'] = df['Record'].apply(lambda x: x.split('\n')[1:])

In [22]:
df['Co_defendants'] = df['Co_defendants'].apply(lambda x: x.split('\n')[1:])

In [23]:
df['Victim_race_gender'] = df['Victim_race_gender'].apply(lambda x: str(x).split('\n')[1:])

In [24]:
df.Victim_race_gender

0      [One hispanic male, one white male]
1                           [White female]
2                        [Hispanic/Female]
3                           [White female]
4                        [Hispanic female]
                      ...
160                        [Hispanic/Male]
161                      [Hispanic female]
162                      [Hispanic female]
163                           [White male]
164               [Indian male and female]
Name: Victim_race_gender, Length: 165, dtype: object

In [25]:
df.columns = map(str.lower, df.columns) #lowercase data columns

In [26]:
df.columns

Index(['name', 'tdcj #', 'dob', 'received date', 'received age',
       'education level', 'offense date', 'age', 'county', 'race', 'gender',
       'hair', 'height', 'weight', 'eyes', 'native county', 'native state',
       'occupation', 'record', 'incident', 'co_defendants',
       'victim_race_gender', 'f_name', 'l_name', 'received_year',
       'received_month', 'received_day', 'dob_year', 'dob_month', 'dob_day',
       'off_date_year', 'off_date_month', 'off_date_day'],
      dtype='object')

In [27]:
df.race = df['race'].apply(lambda x: x.replace('Other, (Native American)', 'Native American'))

In [28]:
df.race.unique()

array(['Black', 'White', 'Hispanic', 'Asian', 'Other', 'Native American'],
      dtype=object)

In [29]:
df['native state'].unique()

array(['Texas', 'Louisiana', 'California', 'Tennessee', 'Mexico', 'MO',
       'Honduras', 'Nebraska', 'Mississippi', 'Missouri', 'Oklahoma',
       'No rth Carolina', 'Illinois', 'Arkansas', 'Virgin Islands',
       'El Salvador', 'Ecuador', 'Virginia', 'Indiana', nan,
       'Pennsylvania', 'New York', 'Ohio', 'Nicaragua', 'Maryland',
       'Kansas', 'Cuba', 'Florida', 'Georgia', 'Michigan'], dtype=object)

In [30]:
df['native state'] = df['native state'].apply(lambda x: str(x).replace('No rth Carolina','North Carolina'))
df['native state'] = df['native state'].apply(lambda x: x.replace('MO','Missouri'))

In [31]:
df['native county'].unique()

array(['Tarrant', 'Bastrop', 'Monterey', 'Gregg County', 'Nueces',
       'Davidson', 'Coalman', 'Dallas', 'Harris', 'St. Louis', 'Bowie',
       'Caddo Parish', 'El Paso County', 'Tiguligalpa', 'Douglas',
       'Tom Green', 'Jones', 'Pontatoz', 'Harris County', 'Frio',
       'Howard', 'Hidalgo', 'Craven', 'Ventura', 'Bexar', 'Jefferson',
       'Cook', 'San Diego', 'Jefferson County', 'Smith Co.', 'Unknown',
       'Rock Island', 'Jackson', 'Hardin', 'Travis', 'Monterey County',
       'Galveston County', 'St. Chistopher, British Virgin Islands',
       'Monterrey', 'Christead', 'El Salvador', 'El Paso', 'McLennan',
       'Brazos', 'Mexico', 'Quito', 'Austin', 'Portsmouth City',
       'Washington', 'Tulare', 'Galveston', 'San Luis (Mexico)',
       'Chalchihuites, Zacatecas', 'Brazoria', 'Altoona',
       'Queens, Jamaica', 'Allen', 'Lafayette Parish', nan, 'Chinadega',
       'Wharton', 'Matagorda', 'Titus', 'Lake County', 'Tamaulipas',
       'Contra Costa', 'Victoria', 'Wood', 'Kaufman', 'Gray', 'Annapolis',
       'Santa Rosa', 'Sedgewick', 'Havana', 'Los Angeles', 'Cameron',
       'Lee', 'Hunt', 'Collin', 'Fulton County', 'Muskogee', 'Henderson',
       'Potter', 'Bell', 'Iosco', 'Sutton', 'Calcasieu Parrish',
       'Anderson'], dtype=object)

In [32]:
df['native county'] = df['native county'].apply(lambda x: str(x).replace('Unknown','nan'))

In [33]:
df.weight.unique()

array(['233', '176', '202', '250', '180', '191', '147', '175', '212',
       '184', '163', '231', '183', '196', '160', '145', '240', '164',
       '149', '136', '276', '194', '141', '188', '168', '236', '178',
       '165', '203', '172', '235', '300', '364', '162', '181', '173',
       '142', '215', '170', '190', '227', '185', '306', '200', '220',
       '229', '208', '269', '286', '210', '166', '222', '135', '150 lbs.',
       '153', '193', '254', '206', '159', '143 lbs', '216', '262', '157',
       '234', '134', '283', '185 lbs.', '144', '212 lbs', '177', '281',
       '171', '217', '152 lbs', '230', '205', '291', '204', '280', '150',
       '201', '174', '000', '195', '169', '183 lbs', '155', '182', '198',
       '187 lbs.', '152', '125', '156', '244', '240 lbs', '211'],
      dtype=object)

In [34]:
df['weight'] = df['weight'].apply(lambda x: float(x.split(' ')[0]))
df['weight'] =df['weight'].apply(lambda x: np.nan if x ==0 else x)

In [35]:
df['hair'].unique()

array(['Black', 'Brown', 'Blonde', 'Grey', 'Gray'], dtype=object)

In [36]:
df['hair'] = df['hair'].apply(lambda x: x.replace('Grey', 'Gray'))

In [ ]:
df['incident'] = df['incident'].apply(lambda x: str(x).replace('Summary of Incident\n',''))

In [ ]:
#df['record'] = df['record'].apply(lambda x: str(x).replace('','None'))

In [57]:
df['record']

In [ ]:
#df['record'] = df['record'].apply(lambda x: str(x).replace('N/A','None'))

In [70]:
df.head()

,name,tdcj #,dob,received date,received age,education level,offense date,age,county,race,gender,hair,height,weight,eyes,native county,native state,occupation,record,incident,co_defendants,victim_race_gender,f_name,l_name,received_year,received_month,received_day,dob_year,dob_month,dob_day,off_date_year,off_date_month,off_date_day,county_code
0,"Rockwell, Kwame A.",999570,1975-12-07,2012-01-30,36,12.0,2010-03-23,34,Tarrant,Black,Male,Black,6′ 1″,233.0,Brown,Tarrant,Texas,[Sales],[None],Summary of Incident\nIn the early morning hour...,"[Randy Ciebel, Tyron Thomas, Chance Smith, and...","[One hispanic male, one white male]",Kwame A.,Rockwell,2012,1,30,1975,12,7,2010,3,23,48439
1,"Burton, Arthur Lee",999283,2070-03-29,1998-09-16,28,12.0,1997-07-29,27,Harris,Black,Male,Black,5′ 10″,176.0,Brown,Bastrop,Louisiana,[Unknown],[None],"Summary of Incident\nOn July 29, 1997, in Hous...",[None],[White female],Arthur Lee,Burton,1998,9,16,2070,3,29,1997,7,29,48201
2,"Gallo, Tomas Raul",999469,1975-03-01,2004-02-24,28,11.0,2003-12-11,28,Harris,White,Male,Brown,5′ 10″,202.0,Black,Monterey,California,"[hydro-water blaster, laborer]",[None],"Summary of Incident\nOn 12/11/2001, in Harris ...",[None],[Hispanic/Female],Tomas Raul,Gallo,2004,2,24,1975,3,1,2003,12,11,48201
3,"Milam, Blaine Keith",999558,1989-12-12,2010-06-11,20,4.0,2008-12-02,18,Rusk,White,Male,Blonde,6′ 0″,250.0,Green,Gregg County,Texas,[None],[None],"Summary of Incident\nIn December 2008, Milam a...",[Jessica Bain Carson],[White female],Blaine Keith,Milam,2010,6,11,1989,12,12,2008,12,2,48401
4,"Vasquez, Richard",999319,1979-04-17,1999-06-24,20,9.0,1998-03-05,18,Nueces,Hispanic,Male,Black,5′ 9″,180.0,Brown,Nueces,Texas,[Laborer],[None],"Summary of Incident\nOn 03/05/98, during the d...",[None],[Hispanic female],Richard,Vasquez,1999,6,24,1979,4,17,1998,3,5,48355

In [53]:
df['county'].unique()

array(['Tarrant', 'Harris', 'Rusk', 'Nueces', 'Collin', 'Dallas', 'Bowie',
       'El Paso', 'Smith', 'Tom Green', 'Medina', 'Hidalgo', 'Bastrop',
       'Bexar', 'Potter', 'Hardin', 'Travis', 'Jones', 'Jackson',
       'McLennan', 'Angelina', 'Hays', 'Brazos', 'Williamson', 'Denton',
       'Kaufman', 'Bell', 'Jefferson', 'Walker', 'Fort Bend', 'Bandera',
       'Brazoria', 'Midland', 'Cameron', 'Anderson', 'Hunt', 'Webb',
       'Lubbock', 'Grayson', 'Henderson', 'Randall'], dtype=object)

In [52]:
df['county'] = df['county'].apply(lambda x: x.replace('Angelina (Change of venue from Walker)','Angelina'))
df['county'] = df['county'].apply(lambda x: x.replace('Denton (on change of venue from Wichita)','Denton'))
df['county'] = df['county'].apply(lambda x: x.replace('Bandera on change of venue from Kerr County','Bandera'))
df['county'] = df['county'].apply(lambda x: x.replace('Smith Co.','Smith'))
df['county'] = df['county'].apply(lambda x: x.replace('Collins','Collin'))

In [68]:
#county name to code
county_code = {'Tarrant': 48439, 'Harris': 48201, 'Rusk': 48401, 'Nueces': 48355 , 'Collin': 48085, 'Dallas': 48113, 'Bowie': 48037,
       'El Paso': 48141, 'Smith': 48423, 'Tom Green': 48451, 'Medina': 48325, 'Hidalgo': 48215, 'Bastrop': 48021,
       'Bexar': 48029, 'Potter': 48375, 'Hardin': 48199, 'Travis': 48453,
       'Jones': 48253, 'Jackson': 48239, 'McLennan': 48309, 'Angelina': 48005, 'Hays': 48209, 'Brazos': 48041,
       'Williamson': 48491, 'Denton': 48121, 'Kaufman': 48257, 'Bell': 48027, 'Jefferson': 48245, 'Walker': 48471,
       'Fort Bend': 48157, 'Bandera': 48019, 'Brazoria': 48039, 'Midland': 48329, 'Cameron': 48061,
       'Anderson': 48001, 'Hunt': 48231, 'Webb': 48479, 'Lubbock': 48303, 'Grayson': 48181, 'Henderson': 48213,
       'Randall': 48381}

In [69]:
df['county_code'] = df['county'].map(county_code)

In [71]:
df.to_csv("datasets/processed_data.csv")